*~
.DS_Store
*.swp
*.save
._*
*.bak
*.orig

*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
.idea/
*.moved-aside
*.xcuserstate

*.hmap
*.ipa
*.dSYM.zip
*.dSYM

Pods/
Carthage/Checkouts
Carthage/Build

build/
DerivedData/

# Xcode Injection
iOSInjectionProject/
OSXInjectionProject/

